
.listado_categorias {
  .card {
    text-align: center;
  }
}

.productos_list_container {

}

h2#titulo_producto_list {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 10px;
}

.product_card {
 margin-bottom: 15px;
  .image_list_holder {
    height: 200px;
    overflow: hidden;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .product_card {
    .image_list_holder {
      height: 298px;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width