#detalle_producto {
  #breadcrumb_conteiner {
    margin-bottom: 40px;
    background: #f5f5f5;
    padding: 35px 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    vertical-align: top;
    .breadcrumb {
      background-color: unset;
      border-radius: .25rem;
      width: 50%;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
    }
  }
  .nombre_producto {
    margin: 0 0 18px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
    line-height: 24px;
    clear: none;
    padding: 0;
  }

  p.precio {
    font-size: 26px;
  }
}
.thumb_img_wreapper {
  height: 200px;
  float: left;
}

.thumb {
  height: 120px;
}
